In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Importing files in python\cars.csv")
df.head()

   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [3]:
## Assume we do not have the headers and we would like to rename them
#df = pd.read_csv("Importing files in python\cars.csv", header=None, names=['age','gender','debt','income','sales'])
#df.head()

In [4]:
df

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]

In [6]:
## Importing txt files properly andd the separator feature
#df = pd.read_csv("Importing files in python\cars.txt", sep='\t)
#df.head()

#or you could do it the write way that it should be used for and that is
#df = pd.read_table("Importing files in python\cars.txt", sep='\t)
#df.head()

## Different file types

In [ ]:
#1. Pickle Files
import pickle
with open('', 'rb') as file:
    data = pickle.load(file)
print data

In [ ]:
#2. Excel SpreadSheet
import pandas as pd
file = 'Historicalinvesttemp.xlsx'
data = pd.ExcelFile(file)
print(data.sheet_names)

In [ ]:
#3. SAS/Stata
import pandas as pd
from sas7bdat import SAS7BDAT
with SAS7BDAT ('') as file:
    df_sas = file.to_data_frame()

In [ ]:
import pandas as pd
data = pd.read_stata('')

In [ ]:
#4. HDF5
import h5py
filename = ''
data = h5py.File(filename, 'r')
print(type(data))

In [ ]:
#. Matlab
import scipy.io
filename = ''
mat = scipy.io.loadmat(filename)
print(type(mat))

In [ ]:
## Reading an excel file with different sheet files
df = pd.read_excel('workbook.xlsl', sheet_name='sheet1')
df.head()

#Rather than read the first 5 and last 5, we can declare a way that allows us to read all the rows in the dataframe
#Rows
pd.set_option('display.max.rows', 235)
#Columns
pd.set_option('display.max.columns', 235)