# Introduction to Relational Databases

What is a relational database? It's a type of database that is based upon the Relational model of data, first described by Ted Codd in the late 1960s.Firstly, a database consists of tables.A table generally represents one entity type,In a relational database table,each row or record represents an instance of the entity type. In this sense, a table is entirely analogous to a dataframe.

but that the tables are linked. How this linking works is ultra-intuitive:The really cool thing about relational databases is not merely that you have a bunch of tables,but that the tables are linked. How this linking works is ultra-intuitive:Codd's 12 Rules

# Creating a Database Engine in Python

We'll be working with SQLite Database and SQLAlchemy because its compatible with other relational database management systems.

In [ ]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

# Querying Relational Database in Python

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close

In [ ]:
engine = create_engine('sqlite:///Northwind.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5))
    df.columns = rs.keys()